<% include ../partials/header %>

<section class="forms-page">
    <h3 class="title">Edit the Song</h3>
    <div class="form-div">
        <form class="form-style" action="/songs/<%= song._id %>?_method=PUT" method="POST">
            <ul>
                <li>
                    <label>Artist Name</label>
                    <input type="text" name="song[artist]" maxlength="30" value="<%= song.artist %>" required>
                    <span>Artist name goes here</span>
                </li>
                <li>
                    <label>Song Name</label>
                    <input type="text" name="song[song]" maxlength="40" value="<%= song.song %>" required>
                    <span>Song name goes here</span>
                </li>
                <li>
                    <label>Song Image</label>
                    <input type="text" name="song[image]" value="<%= song.image %>">
                    <span>Your song or artist image</span>
                </li>
                <li>
                    <label>Youtube Link</label>
                    <input type="text" name="song[link]" value="<%= song.link %>">
                    <span>Your song youtube link</span>
                </li>
                <li>
                    <label>Song Description</label>
                    <textarea style="height: 200px" name="song[description]" maxlength="400"><%= song.description %></textarea>
                    <span>Song description goes here</span>
                </li>
                <li>
                    <button class="btn">Submit</button>
                </li>
            </ul>
        </form>
    </div>
</section>


<% include ../partials/footer %>