<% include ../partials/header %>

    <!--Make arrays of songs from database-->
        <% var adminSongs = []; %>
        <% songs.forEach(function(song){ %>
            <% if (song.author == "adminaccount") { %>
                <% adminSongs.push(song); %>
            <% } %>
        <% }) %>
        
    <!--Make random number to post songs in random order-->
        <% var fixedSongNum = adminSongs.length; %>
        <% var randomNum = 0; %>
        <% var randomizedSongs = []; %>
        
    <!--Make randomized arrays of songs-->
        <% for (var i = 0; i < fixedSongNum; i++) { %>
            <% randomNum = Math.floor(Math.random() * adminSongs.length); %>
            <% randomizedSongs.push(adminSongs[randomNum]) %>
            <% adminSongs.splice(randomNum, 1); %>
        <% } %>  

        <section class="songs" id="playlist">
            <h3 id="playlist-title">K-INDIE Playlist</h3>
            <div class="container-fluid">
                <div class="grid">
                    <% for (var i = 0; i < Math.ceil(fixedSongNum / 12); i++) { %>
                        <div class="first-column">
                            <% if(fixedSongNum - (i * 12) > 0) { %>
                                <a href="/songs/<%= randomizedSongs[i * 12 + 0]._id %>" class="small" style="background-image: url(<%= randomizedSongs[i * 12 + 0].image %>)">
                                    <i class="fas fa-headphones"></i>
                                </a>
                            <% } %>
                            <% if(fixedSongNum - (i * 12) - 1 > 0) { %>
                                <a href="/songs/<%= randomizedSongs[i * 12 + 1]._id %>" class="small" style="background-image: url(<%= randomizedSongs[i * 12 + 1].image %>)">
                                    <i class="fas fa-headphones"></i>
                                </a>
                            <% } %>
                            <% if(fixedSongNum - (i * 12) - 2 > 0) { %>
                                <a href="/songs/<%= randomizedSongs[i * 12 + 2]._id %>" class="large" style="background-image: url(<%= randomizedSongs[i * 12 + 2].image %>)">
                                    <i class="fas fa-headphones"></i>
                                </a>
                            <% } %>
                        </div>
                        <div class="second-column">
                            <% for (var k = 3; k < 9; k++) { %>
                                <% if(fixedSongNum - (i * 12) - k > 0) {  %>
                                    <a href="/songs/<%= randomizedSongs[i * 12 + k]._id %>" class="small" style="background-image: url(<%= randomizedSongs[i * 12 + k].image %>)">
                                        <i class="fas fa-headphones"></i>
                                    </a>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="third-column">
                            <% if(fixedSongNum - (i * 12) - 9 > 0) { %>
                                <a href="/songs/<%= randomizedSongs[i * 12 + 9]._id %>" class="large" style="background-image: url(<%= randomizedSongs[i * 12 + 9].image %>)">
                                    <i class="fas fa-headphones"></i>
                                </a>
                            <% } %>
                            <% if(fixedSongNum - (i * 12) - 10 > 0) { %>
                                <a href="/songs/<%= randomizedSongs[i * 12 + 10]._id %>" class="small" style="background-image: url(<%= randomizedSongs[i * 12 + 10].image %>)">
                                    <i class="fas fa-headphones"></i>
                                </a>
                            <% } %>
                            <% if(fixedSongNum - (i * 12) - 11 > 0) { %>
                                <a href="/songs/<%= randomizedSongs[i * 12 + 11]._id %>" class="small" style="background-image: url(<%= randomizedSongs[i * 12 + 11].image %>)">
                                    <i class="fas fa-headphones"></i>
                                </a>
                            <% } %>
                        </div>
                    <% } %>    
                </div>
            </div>
            <hr>
            <% if((user) && user.id == "adminaccount"){ %>
            <a href="/songs/new" class="btn">Post a Song</a>
            <% } %>
        </section>

<% include ../partials/footer %>